[Desktop Entry]
Name=Add/Remove Software
Comment=Add or remove software installed on the system
Icon=system-software-install
Exec=pamac-manager %U
Terminal=false
Type=Application
Categories=GNOME;GTK;System;PackageManager;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/snap;application/vnd.flatpak;application/vnd.flatpak.repo;application/vnd.flatpak.ref;application/vnd.snap;
X-GNOME-UsesNotifications=true
StartupWMClass=pamac-manager
DBusActivatable=true
Actions=updates;
X-XFCE-Source=file:///usr/share/applications/org.manjaro.pamac.manager.desktop

[Desktop Action updates]
Name=Software Update
Exec=pamac-manager --updates
